@font-face {
    font-family: 'Gogol';
    src: url('./regular/gogol.ttf') format('truetype');
}
@font-face {
    font-family: 'Involve';
    src: url('./regular/involve.woff') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Involve", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
}
html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
.center {
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px);
}

.header-main {
    background-image: url(./img/back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1024px;
    background-color: #E9EAD7;
    &__menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__text {
        color: rgba(234, 234, 215, 1);
        font-family: "Gogol";
        font-style: Regular;
        font-size: 96px;
        font-weight: 400;
        line-height: 115px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 352px;
    }
    &__subtext {
        color: rgba(234, 234, 215, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: center;

    }
}
.logo-main {
    &__text {
        color: rgba(234, 234, 215, 1);
        font-family: "Gogol";
        font-style: Regular;
        font-size: 32px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.nav-main {
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }
    &__link {
        color: rgba(234, 234, 215, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.header {
    background-color: #E9EAD7;
    &__menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.logo {
    &__text {
        color: #23312C;
        font-family: "Gogol";
        font-style: Regular;
        font-size: 32px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.nav {
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }
    &__link {
        color: #23312C;
        font-family: "Involve";
        font-style: Regular;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.main-content {
    background-color: #E9EAD7;
}
.about-us {
    padding-top: 56px;
    &__title {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
    &__text {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 30px;
    }
}
.format {
    padding-top: 60px;
    &__title {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
    &__text {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 30px;
    }
}
.scheme {
    padding-top: 60px;
    &__title {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
    &__text {
        padding-top: 30px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__containers {
        padding-top: 30px;
        display: flex;
        gap: 30px;
        padding-bottom: 60px;
    }
    &__img {
        width: 800px;
        height: 488px;
        border-radius: 20px;
        background: rgba(184, 184, 184, 1);
    }
}
.history {
    padding-left: 80px;
    padding-right: 80px;
    background-color: #23312C;
    width: 100%;
    &__title {
        padding-top: 197px;
        color: rgba(233, 234, 215, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 222px;
        padding-top: 30px;
    }
    &__text {
        color: rgba(233, 234, 215, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__img {
        width: 897px;
        height: 595px;
        border-radius: 20px;
    }
}
.principles {
    &__title {
        padding-top: 60px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
    &__intro {
        padding-top: 30px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__list {
        padding-left: 30px;
    }
    &__item {
        padding-top: 4px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Oblique;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__ecology {
        padding-top: 30px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.music {
    &__title {
        padding-top: 60px;
        padding-bottom: 30px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
    &__text {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.hosting {
    padding-bottom: 87px;
    &__title {
        padding-top: 60px;
        padding-bottom: 30px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
    &__container {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 10px;
    }
    &__text {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__link {
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        color: rgba(228, 108, 83, 1);
    }
}
.afisha-intro {
    &__heading {
        color: rgba(35, 49, 44, 1);
        font-family: "Gogol";
        font-style: Regular;
        font-size: 96px;
        font-weight: 400;
        line-height: 115px;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 76px;
        padding-bottom: 10px;
    }
    &__description {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: center;
        padding-bottom: 30px;
    }
}
.modern-divider {
    width: 100%;
    height: 0;
    border: 2px solid rgba(228, 108, 83, 1);
    margin-top: 29px;
}
.events {
    &__list {
        padding-top: 30px;
    }
    &__header {
        color: rgba(35, 49, 44, 1);
        font-family: "Gogol";
        font-style: Regular;
        font-size: 64px;
        font-weight: 400;
        line-height: 77px;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 31px;
    }
    &__title {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 30px;
    }
    &__description {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 10px;
    }
}
.afisha-note {
    padding-top: 30px;
    padding-bottom: 50px;
    &__title {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 30px;
    }
    &__text {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 30px;
    }
}
.archive {
    &__heading {
        padding-top: 56px;
        color: rgba(0, 0, 0, 1);
        font-family: "Gogol";
        font-style: Regular;
        font-size: 96px;
        font-weight: 400;
        line-height: 115px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__subtitle {
        padding-top: 30px;
        color: rgba(0, 0, 0, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__description {
        padding-top: 60px;
        color: rgba(0, 0, 0, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__list {
        padding-top: 30px;
        padding-bottom: 56px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;
    }
    &__item {
        max-width: 360px;
    }
    &__img {
        border-radius: 20px;
        background: rgba(184, 184, 184, 1);
        width: 360px;
        height: 360px;
    }
    &__title {
        padding-top: 10px;
        color: rgba(0, 0, 0, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__event-description {
        padding-top: 10px;
        color: rgba(0, 0, 0, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.cooperation {
    &__heading {
        padding-top: 56px;
        color: rgba(35, 49, 44, 1);
        font-family: "Gogol";
        font-style: Regular;
        font-size: 96px;
        font-weight: 400;
        line-height: 115px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__intro {
        padding-top: 30px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__about {
        padding-top: 60px;
    }
    &__rider {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__technical {
        padding-top: 60px;
    }
    &__rules {
        padding-top: 60px;
    }
    &__apply {
        padding-top: 60px;
    }
}
.about {
    &__title {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
    &__text {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 30px;
    }
}
.rent {
    &__title {
        padding-top: 60px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
    &__text {
        padding-top: 30px;
        padding-bottom: 30px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__list {
        padding-left: 30px;
    }
    &__item {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Oblique;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 4px;
    }
} 

.rider {
    &__title {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
        padding-bottom: 30px;
    }
    &__item {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 4px;
    }
    &__list {
        padding-left: 30px;
    }
    &__img {
        width: 620px;
        height: 826px;
        color: #23312C;
    }
}
.technical {
    &__title {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
        padding-bottom: 30px;
    }
    &__item {
        padding-top: 4px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__list {
        padding-left: 30px;
    }
}
.rules {
    &__title {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
    &__organisation {
        padding-top: 10px;
    }
    &__phylosophy {
        padding-top: 30px;
    }
}
.organisation {
    &__title {
        color: rgba(0, 0, 0, 1);
        font-family: "Involve";
        font-style: Medium;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
        padding-bottom: 30px;
    }
    &__item {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 4px;
    }
}
.philosophy {
    &__title {
        color: rgba(0, 0, 0, 1);
        font-family: "Involve";
        font-style: Medium;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    &__item {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 4px;
    }
    &__list {
        padding-left: 30px;
    }
}
.apply {
    &__title {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
    &__text {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    &__contact {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 56px;
    }
}

.team {
    padding-bottom: 26px;
    &__heading {
        padding-top: 56px;
        color: rgba(35, 49, 44, 1);
        font-family: "Gogol";
        font-style: Regular;
        font-size: 96px;
        font-weight: 400;
        line-height: 115px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__subtitle {
        padding-top: 30px;
        padding-bottom: 60px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__members {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__title {
        padding-top: 60px;
        padding-bottom: 30px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: lowercase;
    }
}
.member {
    &-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    &-right {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
    }
    &__img {
        width: 260px;
        height: 260px;
        border-radius: 20px;
        background: rgba(184, 184, 184, 1);
    }
    &__text {
        align-items: left;
    }
    &__name {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: SemiBold;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 10px;
    }
    &__description {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.resident {
    &__name {
        padding-bottom: 10px;
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Medium;
        font-size: 32px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__description {
        color: rgba(35, 49, 44, 1);
        font-family: "Involve";
        font-style: Regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 30px;
    }
}
.footer-main {
    width: 100%;
    height: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 255px;
    padding: 20px 80px 20px 80px;
    background-color: #E9EAD7;
    color: #23312C;
    
    &__logo {
        color: rgba(35, 49, 44, 1);
        font-family: "Gogol";
        font-style: Regular;
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0%;
        text-align: left;
        color: #23312C;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
    &__link {
        color: #23312C;
    }
}
.contacts-main {
    color: #23312C;
}

.footer {
    width: 100%;
    height: 215px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 255px;
    padding: 20px 80px 20px 80px;
    background-color: #23312C;
    color: #E9EAD7;

    &__logo {
        color: rgba(35, 49, 44, 1);
        font-family: "Gogol";
        font-style: Regular;
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0%;
        text-align: left;
        color: #E9EAD7;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        color: #E9EAD7;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
    &__link {
        color: #E9EAD7;
    }
}
.contacts {
    color: #E9EAD7;
}